#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {opacity: 0.5;}
#myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg2:hover {opacity: 0.5;}
#myImg3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg3:hover {opacity: 0.5;}
#myImg4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg4:hover {opacity: 0.5;}

.parallax {
    /* The image used */
    background-image: url('img/sky.jpg');

    /* Full width */
    width: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}